<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/peereval.css"/>
  </meta>
  <title>JCE - SE - PeerEval</title>
</head>
<body>
  <div class="container">

    <h1>Welcome to PeerEval!</h1>

    <p>
      Hello, <b>{{user}}</b> - <a href="{{logout_url}}">Logout</a>
    </p>

    {% if eval_peer %}
      <p><font color="green">Evaluation recieved for: {{eval_peer}}</font></p>
    {% endif %}

    {% if remaining_peers.__len__() == 0 %}
      <p><font color="green">Evaluation ended for this iteration, thank you and good luck</font></p>
    {% else %}

    <h4>Add a new evaluation for iteration 0</h4>
    <form action="" method="post">
      <div class="form-group">
        <label for="peer">Peer:</label>
        <!--input type="text" id="peer" name="peer" /-->
        <select name="peer" id="peer">
        {% for peer in remaining_peers %}
            <option value={{peer}}>{{peer}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
          <label for="grade">Grade:</label>
          <select name="grade" id="grade">
              <option value="-3">-3 Contributed nothing</option>
              <option value="-2">-2 Contributed a lot less than others</option>
              <option value="-1">-1 Contributed a little less than other</option>
              <option value="0">0 Contributed equally</option>
              <option value="1">+1 Contributed a lot more than others</option>
        </select>
        </div>
      <div class="form-group">
        <label for="justification">Justification:</label>
        <textarea id="justification" name="justification"></textarea>
      </div>
      <div class="form-group">
          <button type="submit">Save evaluation</button>
      </div>
    </form>
    {% endif %}

  </div>
</body>
</html>
